@{
    ViewBag.Title = "Home Page";
}


<div class="book">
    <div id="pages" class="pages">
        <div class="page"><p>Open Me, <br>please!</p></div>
        <div class="page"></div>
        <div class="page"><p>WELCOME 559 BMS</p></div>
        <div class="page"></div>
        <div class="page"><p>FEATURES</p></div>
        <div class="page"></div>
        <div class="page"><p>USABILITY</p></div>
        <div class="page"></div>
        <div class="page">
            <p>SECURITY</p>
        </div>

    </div>
</div>
