 .profile {
     display:grid;
     grid-template-columns:1.5fr 2fr;
    margin: 2em auto;
}
 .header-profile{
     text-align:center;
 }

    h1, .profile h1 {
        color: #484848;
        font-weight: 100;
    }

   a, .profile a {
        color: #1daaff;
    }

       a:hover, .profile a:hover {
            color: #0072b6;
        }

.profile {
    max-width: auto;
    border: 1px solid #e1e1e1;
    border-radius: 20px;
    padding: 2em;
    margin: 1em;
    

}

    .profile figure {
        margin: 0;
    }

        .profile figure img {
            max-width: 150px;
            max-height: 150px;
            border-radius: 50%;
            padding: 10px;
            box-shadow: 0px 0px 20px rgba(21, 21, 21, 0.15);
        }

    .profile .header-profile-content h1 {
        margin: 0;
        padding: 0;
        line-height: 1;
    }

        .profile .header-profile-content h1 small {
            display: block;
            clear: both;
            font-size: 18px;
            opacity: 0.6;
        }


    .profile .content-profile dl {
        display: block;
        width: 100%;
    }

        .profile .content-profile dl dt,
        .profile .content-profile dl dd {
            float: left;
            padding: 8px 5px;
            margin: 0;
            border-bottom: 1px solid #e1e1e1;
        }

            .profile .content-profile dl dt a,
            .profile .content-profile dl dd a {
                padding-right: 5px;
            }

        .profile .content-profile dl dt {
            width: 30%;
            padding-right: 10px;
            font-weight: bold;
        }

            .profile .content-profile dl dt:after {
                content: ":";
            }

        .profile .content-profile dl dd {
            width: 70%;
        }

    



label {
    display: block;
    cursor: pointer;
}

@media screen and (max-width: 520px) {
    .profile {
        padding: 1em;
        margin: 1em;
    }

        .profile img {
            max-width: 100%;
            height: auto;
        }

        .profile .content-profile dl,
        .profile .content-profile dl dt,
        .profile .content-profile dl dd {
            display: block;
            width: 100%;
            float: none;
        }

            .profile .content-profile dl dt {
                border-bottom: none;
            }

            .profile .content-profile dl dd {
                margin-bottom: 10px;
            }


}
