
@{
    ViewBag.Title = "Index";

}

<h2>Statistics</h2>
<div class="text-center">
    <label class="" name="borrow">
        Borrow
        <input id="statistic" type="radio" checked="checked" name="radio" value="borrow">
        <span class="checkmark"></span>
    </label>
    <label class="m-3" name="status">
        Status
        <input id="statistic" type="radio" name="radio" value="status">
        <span class="checkmark"></span>
    </label>
</div>



<canvas id="myChart"></canvas>

<script>
    let c = document.getElementById("myChart");
    let ctx = c.getContext("2d");
    let tBorrow = $.getValues("/Statistic/BorrowDataStatistic");
    let tStatusLate = $.getValues("/Statistic/StatusDataStatistic");


    let checkType = null;
    let data = null;

    let myBarChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
            datasets: [{
                label: 'Number of borrow in 2022',
                data: data ? data : JSON.parse(tBorrow),
                backgroundColor: [
                    'rgba(0, 174, 192, 0.8)',
                ],
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                },
                borderWidth: 1
            }]
        },
    });

    $("input[type=radio][name=radio]").click(function () {
        checkType = $(this).val();
        console.log(checkType)
        if (checkType === "status") {
            data = JSON.parse(tStatusLate)
            myBarChart.destroy();
             myBarChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
                    datasets: [{
                        label: 'Number of LATE in 2022',
                        data: data ? data : JSON.parse(tBorrow),
                        backgroundColor: [
                            'rgba(255,0,0, 0.9)',
                        ],
                        options: {
                            responsive: true,
                            maintainAspectRatio: false,
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        },
                        borderWidth: 1
                    }]
                },
            });
        }
        if (checkType === "borrow") {
            data = JSON.parse(tBorrow)
            myBarChart.destroy();
             myBarChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
                    datasets: [{
                        label: 'Number of borrow in 2022',
                        data: data ? data : JSON.parse(tBorrow),
                        backgroundColor: [
                            'rgba(0, 174, 192, 0.8)',
                        ],
                        options: {
                            responsive: true,
                            maintainAspectRatio: false,
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        },
                        borderWidth: 1
                    }]
                },
            });

        }


    });


    //let myBarChart = new Chart(ctx, {
    //    type: 'bar',
    //    data: {
    //        labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
    //        datasets: [{
    //            label: '# of Votes',
    //            data: data ? data : JSON.parse(tBorrow),
    //            backgroundColor: [
    //                'rgba(0, 174, 192, 0.8)',
    //            ],
    //            borderWidth: 1
    //        }]
    //    },
    //});
</script>
